In [1]:
class Project():
    def __init__(self,id,name,user):
        self.id=id
        self.name=name
        self.user=user

In [3]:
class Users():
    def __init__(self,id,name,salary):
        self.id=id
        self.name=name
        self.salary=salary

In [27]:
users_list=[]
users_list.append(Users(1,"surbhi",10000))
users_list.append(Users(2,"sejal",20000))
users_list.append(Users(3,"akanksha",4000))
users_list.append(Users(4,"gaurav",60000))
users_list.append(Users(5,"jatin",50000))
users_list.append(Users(6,"ram",30000))
users_list.append(Users(8,"ujjwal",15000))

In [28]:
for i in users_list:
    print(i.id,i.name,i.salary)

1 surbhi 10000
2 sejal 20000
3 akanksha 4000
4 gaurav 60000
5 jatin 50000
6 ram 30000
8 ujjwal 15000

In [33]:
project_list=[]
project_list.append(Project("P1","project1",[i for i in users_list[:3]]))
project_list.append(Project("P2","project2",[i for i in users_list[4:6]]))
project_list.append(Project("P3","project3",[i for i in users_list[6:7]]))

In [42]:
for i in project_list:
    print(i.id,i.name,[[j.id,j.name,j.salary] for j in i.user])

P1 project1 [[1, 'surbhi', 10000], [2, 'sejal', 20000], [3, 'akanksha', 4000]]
P2 project2 [[5, 'jatin', 50000], [6, 'ram', 30000]]
P3 project3 [[8, 'ujjwal', 15000]]

In [80]:
#part 1
for i in project_list:
    print(i.id,i.name)
    l=[j.salary for j in i.user]
    for j in sorted(l):
        print_details(j,i.user)
    print("----------------------------------------------------------")

P1 project1
3 akanksha 4000
1 surbhi 10000
2 sejal 20000
----------------------------------------------------------
P2 project2
6 ram 30000
5 jatin 50000
----------------------------------------------------------
P3 project3
8 ujjwal 15000
----------------------------------------------------------

In [79]:
def print_details(salary,l):
    for i in l:
        if i.salary==salary:
            print(i.id,i.name,i.salary)

In [78]:
#part 2
d={}
for i in project_list:
    for k in i.user:
        d[i.name,k.name]=k.salary 
for i in sorted(d.values()):
    print(get_key(i,d),"salary",i)

('project1', 'akanksha') salary 4000
('project1', 'surbhi') salary 10000
('project3', 'ujjwal') salary 15000
('project1', 'sejal') salary 20000
('project2', 'ram') salary 30000
('project2', 'jatin') salary 50000

In [74]:
def get_key(value,d):
    for k,v in d.items():
        if v==value:
            return k

In [86]:
#part 3
project_dic={}
for i in project_list:
    l1=[]
    l=[j.salary for j in i.user]
    for j in sorted(l):
        l1.append(get_details(j,i.user))
    project_dic[i.id,i.name]=l1

for k,v in project_dic.items():
    print(k,":",v)

('P1', 'project1') : [[3, 'akanksha', 4000], [1, 'surbhi', 10000], [2, 'sejal', 20000]]
('P2', 'project2') : [[6, 'ram', 30000], [5, 'jatin', 50000]]
('P3', 'project3') : [[8, 'ujjwal', 15000]]

In [82]:
def get_details(salary,l):
    for i in l:
        if i.salary==salary:
            return [i.id,i.name,i.salary]

# Part 2

In [374]:
class Project():
    def __init__(self,id,name,user,effort):
        self.id=id
        self.name=name
        self.user=user
        self.effort=effort
    
    def add_user(self,user):
        self.user.append(user)
        user.projects.append(self.name)
        print("user has been added successfully")
        
    def get_user(self):
        for i in self.user:
            print(i.id,i.name,i.salary,i.effort,i.projects)
        return [[j.id,j.name,j.salary,i.effort,i.projects] for j in self.user]
    
    def update_effort_all(self):
        for i in self.user:
            i.effort+=self.effort
            if i.effort>=100:
                print([i.id,i.name],"Employee over utilized please check")
    
    def update_effort(self,id):
        for i in self.user:
            if id==i.id:
                i.effort+=self.effort
                if i.effort>=100:
                    print([i.id,i.name],"Employee over utilized please check")
                
    """def remove_user(self,id):
        for i in self.user:
            if i.id==id:
                #remove project from user list also
                self.user.remove(i)"""

In [375]:
class Users():
    def __init__(self,id,name,salary,effort,projects):
        self.id=id
        self.name=name
        self.salary=salary
        self.effort=effort
        self.projects=projects
        
    def check_status(self):
        if self.effort<30:
            print(self.id,self.name,"under utlized")
        elif self.effort>100:
            print(self.id,self.name,"over utlized please check")

In [376]:
project1=Project("P1","Project 1",[],50)
project2=Project("P2","Project 2",[],30)
project3=Project("P3","Project 3",[],40)

In [377]:
users_list=[]
users_list.append(Users("1","surbhi",10000,0,[]))
users_list.append(Users("2","sejal",20000,0,[]))
users_list.append(Users("3","akanksha",4000,0,[]))
users_list.append(Users("4","gaurav",60000,0,[]))
users_list.append(Users("5","jatin",50000,0,[]))
users_list.append(Users("6","ram",30000,0,[]))
users_list.append(Users("7","ujjwal",15000,0,[]))

In [378]:
project1.add_user(users_list[0])
project1.add_user(users_list[2])
project1.add_user(users_list[4])

project2.add_user(users_list[1])
project2.add_user(users_list[3])
project2.add_user(users_list[4])

project3.add_user(users_list[5])
project3.add_user(users_list[6])
project3.add_user(users_list[0])

user has been added successfully
user has been added successfully
user has been added successfully
user has been added successfully
user has been added successfully
user has been added successfully
user has been added successfully
user has been added successfully
user has been added successfully

In [379]:
project1.get_user()

1 surbhi 10000 0 ['Project 1', 'Project 3']
3 akanksha 4000 0 ['Project 1']
5 jatin 50000 0 ['Project 1', 'Project 2']

[['1', 'surbhi', 10000, 0, ['Project 1', 'Project 2']],
 ['3', 'akanksha', 4000, 0, ['Project 1', 'Project 2']],
 ['5', 'jatin', 50000, 0, ['Project 1', 'Project 2']]]

In [380]:
project2.get_user()

2 sejal 20000 0 ['Project 2']
4 gaurav 60000 0 ['Project 2']
5 jatin 50000 0 ['Project 1', 'Project 2']

[['2', 'sejal', 20000, 0, ['Project 1', 'Project 2']],
 ['4', 'gaurav', 60000, 0, ['Project 1', 'Project 2']],
 ['5', 'jatin', 50000, 0, ['Project 1', 'Project 2']]]

In [381]:
project3.get_user()

6 ram 30000 0 ['Project 3']
7 ujjwal 15000 0 ['Project 3']
1 surbhi 10000 0 ['Project 1', 'Project 3']

[['6', 'ram', 30000, 0, ['Project 1', 'Project 3']],
 ['7', 'ujjwal', 15000, 0, ['Project 1', 'Project 3']],
 ['1', 'surbhi', 10000, 0, ['Project 1', 'Project 3']]]

In [382]:
project1.update_effort_all()
project1.get_user()

1 surbhi 10000 50 ['Project 1', 'Project 3']
3 akanksha 4000 50 ['Project 1']
5 jatin 50000 50 ['Project 1', 'Project 2']

[['1', 'surbhi', 10000, 50, ['Project 1', 'Project 2']],
 ['3', 'akanksha', 4000, 50, ['Project 1', 'Project 2']],
 ['5', 'jatin', 50000, 50, ['Project 1', 'Project 2']]]

In [383]:
project2.update_effort_all()
project2.get_user()

2 sejal 20000 30 ['Project 2']
4 gaurav 60000 30 ['Project 2']
5 jatin 50000 80 ['Project 1', 'Project 2']

[['2', 'sejal', 20000, 80, ['Project 1', 'Project 2']],
 ['4', 'gaurav', 60000, 80, ['Project 1', 'Project 2']],
 ['5', 'jatin', 50000, 80, ['Project 1', 'Project 2']]]

In [384]:
project3.update_effort_all()
project3.get_user()

6 ram 30000 40 ['Project 3']
7 ujjwal 15000 40 ['Project 3']
1 surbhi 10000 90 ['Project 1', 'Project 3']

[['6', 'ram', 30000, 90, ['Project 1', 'Project 3']],
 ['7', 'ujjwal', 15000, 90, ['Project 1', 'Project 3']],
 ['1', 'surbhi', 10000, 90, ['Project 1', 'Project 3']]]

In [355]:
project1.remove_user(3)
project1.get_user()

1 surbhi 10000 90 ['Project 1', 'Project 3']
3 akanksha 4000 50 ['Project 1']
5 jatin 50000 80 ['Project 1', 'Project 2']

[['1', 'surbhi', 10000, 80, ['Project 1', 'Project 2']],
 ['3', 'akanksha', 4000, 80, ['Project 1', 'Project 2']],
 ['5', 'jatin', 50000, 80, ['Project 1', 'Project 2']]]

In [385]:
for i in users_list:
    print(i.id,i.name,i.salary,i.effort)

1 surbhi 10000 90
2 sejal 20000 30
3 akanksha 4000 50
4 gaurav 60000 30
5 jatin 50000 80
6 ram 30000 40
7 ujjwal 15000 40

In [386]:
project1.add_user(users_list[6])

user has been added successfully

In [387]:
project1.get_user()
project1.update_effort("7")
project1.get_user()

1 surbhi 10000 90 ['Project 1', 'Project 3']
3 akanksha 4000 50 ['Project 1']
5 jatin 50000 80 ['Project 1', 'Project 2']
7 ujjwal 15000 40 ['Project 3', 'Project 1']
1 surbhi 10000 90 ['Project 1', 'Project 3']
3 akanksha 4000 50 ['Project 1']
5 jatin 50000 80 ['Project 1', 'Project 2']
7 ujjwal 15000 90 ['Project 3', 'Project 1']

[['1', 'surbhi', 10000, 90, ['Project 3', 'Project 1']],
 ['3', 'akanksha', 4000, 90, ['Project 3', 'Project 1']],
 ['5', 'jatin', 50000, 90, ['Project 3', 'Project 1']],
 ['7', 'ujjwal', 15000, 90, ['Project 3', 'Project 1']]]

In [388]:
project2.add_user(users_list[0])
project1.update_effort("1")

user has been added successfully
['1', 'surbhi'] Employee over utilized please check

In [391]:
for i in users_list:
    print(i.id,i.name,i.salary,i.effort,i.projects,end=" ")
    i.check_status()
    print()

1 surbhi 10000 140 ['Project 1', 'Project 3', 'Project 2'] 1 surbhi over utlized please check

2 sejal 20000 30 ['Project 2']
3 akanksha 4000 50 ['Project 1']
4 gaurav 60000 30 ['Project 2']
5 jatin 50000 80 ['Project 1', 'Project 2']
6 ram 30000 40 ['Project 3']
7 ujjwal 15000 90 ['Project 3', 'Project 1']