In [1]:
class Project():
    def __init__(self,id,name,user):
        self.id=id
        self.name=name
        self.user=user

In [3]:
class Users():
    def __init__(self,id,name,salary):
        self.id=id
        self.name=name
        self.salary=salary

In [27]:
users_list=[]
users_list.append(Users(1,"surbhi",10000))
users_list.append(Users(2,"sejal",20000))
users_list.append(Users(3,"akanksha",4000))
users_list.append(Users(4,"gaurav",60000))
users_list.append(Users(5,"jatin",50000))
users_list.append(Users(6,"ram",30000))
users_list.append(Users(8,"ujjwal",15000))

In [28]:
for i in users_list:
    print(i.id,i.name,i.salary)

1 surbhi 10000
2 sejal 20000
3 akanksha 4000
4 gaurav 60000
5 jatin 50000
6 ram 30000
8 ujjwal 15000

In [33]:
project_list=[]
project_list.append(Project("P1","project1",[i for i in users_list[:3]]))
project_list.append(Project("P2","project2",[i for i in users_list[4:6]]))
project_list.append(Project("P3","project3",[i for i in users_list[6:7]]))

In [42]:
for i in project_list:
    print(i.id,i.name,[[j.id,j.name,j.salary] for j in i.user])

P1 project1 [[1, 'surbhi', 10000], [2, 'sejal', 20000], [3, 'akanksha', 4000]]
P2 project2 [[5, 'jatin', 50000], [6, 'ram', 30000]]
P3 project3 [[8, 'ujjwal', 15000]]

In [48]:
#part 1
for i in project_list:
    print(i.id,i.name)
    l=[j.salary for j in i.user]
    for j in sorted(l):
        get_details(j,i.user)
    print("----------------------------------------------------------")

P1 project1
3 akanksha 4000
1 surbhi 10000
2 sejal 20000
----------------------------------------------------------
P2 project2
6 ram 30000
5 jatin 50000
----------------------------------------------------------
P3 project3
8 ujjwal 15000
----------------------------------------------------------

In [45]:
def get_details(salary,l):
    for i in l:
        if i.salary==salary:
            print(i.id,i.name,i.salary)

In [78]:
#part 2
d={}
for i in project_list:
    for k in i.user:
        d[i.name,k.name]=k.salary 
for i in sorted(d.values()):
    print(get_key(i,d),"salary",i)

('project1', 'akanksha') salary 4000
('project1', 'surbhi') salary 10000
('project3', 'ujjwal') salary 15000
('project1', 'sejal') salary 20000
('project2', 'ram') salary 30000
('project2', 'jatin') salary 50000

In [74]:
def get_key(value,d):
    for k,v in d.items():
        if v==value:
            return k